@font-face {
  font-family: audiowide;
  src: url(../font/Audiowide-Regular.ttf);
}
@font-face {
  font-family: firamono;
  src: url(../font/FiraMono-Regular.ttf);
}
@font-face {
  font-family: jura;
  src: url(../font/Jura-Regular.ttf);
}
@font-face {
  font-family: orbitron;
  src: url(../font/Orbitron-Regular.ttf);
}


